<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="common::wly_head(title='武陵源招商项目')"></head>
<body style="background-color: #EEE">
<div class="container-fluid">
    <div style="max-width:400px;height:400px; position: absolute; left: 0; right: 0; bottom: 0; top: 0; margin: auto">
        <div class="card border-secondary shadow bg-white rounded" style="max-width: 400px;">
            <div class="card-header font-15 font-weight-bold bg-dark text-warning">
                <i class="fa fa-cogs"></i>&nbsp;&nbsp;武陵源项目后台管理
            </div>
            <div class="card-body">
                <form method="post" th:action="@{/login}" id="admin_login">
                    <div class="form-group">
                        <label for="username">管理员账号</label>
                        <input type="text" class="form-control" id="username" name="username"/>
                    </div>
                    <div class="form-group">
                        <label for="password">管理员密码</label>
                        <input type="password" class="form-control" id="password" name="password"/>
                    </div>
                </form>
            </div>
            <div class="card-footer bg-transparent border-secondary">
                <button class="btn btn-sm btn-dark" style="width: 100%; height: 100%" onclick="login_sys()">登 录</button>
            </div>
        </div>
    </div>
</div>
<script>
    function login_sys() {
        $("#admin_login").submit()
    }
</script>
</body>
</html>


